<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>
    <meta name="description" content="List of all patients in the hospital management system.">
    <meta name="keywords" content="patients, hospital, management system">
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Include your CSS file if needed --> {% endcomment %}
</head>
<body>  
    <form action="{% url 'patient_list' %}">
        <input type="text" name="patient_name" placeholder="Patient Name">
        <button>Search</button>
    </form>

    <h1>All Patients</h1>
    <button> <a href="{% url 'patient_create' %}"></a>Create</button>
    <ul>
        {% for patient in patient %}
            <li> <a href="{% url 'patient_detail' patient.pk %}"> {{ patient.firstname }} {{ patient.lastname }} </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>