<!DOCTYPE html>
<html>
<head>
    <title>Doctor Availability</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 style="color: brown;">Doctor Availability for {{ doctor.firstname }} {{ doctor.lastname }} </h1>
        <form method="post" action="{% url 'doctor_availability' doctor.id date %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="timeslot">Select Time Slot:</label>
                <select class="form-control" id="timeslot" name="timeslot" required>
                    <option value="">Select a time slot</option>
                    {% for slot in availability %}
                        <option value="{{ slot.timeslot }}">Time Slot: {{ slot.timeslot }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="patient_id">Patient ID:</label>
                <input type="text" class="form-control" id="patient_id" name="patient_id" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Appointment</button>
        </form>
    </div>
</body>
</html>
