<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <h1>Lab report</h1>
    <a href="{% url 'create_liver_test' %}" class="btn btn-primary">Create Liver test</a>
    <a href="{% url 'create_kidney_test' %}" class="btn btn-primary">Create Kidney test</a>
    <a href="{% url 'create_sugar_test' %}" class="btn btn-primary">Create Sugar test</a>


    <form action="url 'staff_lab_report'" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >Submit</button>
    </form>
</body>
</html>