{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="{% static 'css/patient/patient_details.css' %}">
</head>
<body>
    <h1> {{ patient.firstname }} {{ patient.lastname }} </h1>
    <div class="details">
        <p><strong>Firstname:</strong> {{ patient.firstname }}</p>
        <p><strong>Lastname:</strong> {{ patient.lastname }} </p>
        <p><strong>Mobile:</strong> {{ patient.mobile }}</p>
        <p><strong>Email:</strong> {{ patient.email }}</p>
        <p><strong>Date of Birth:</strong> {{ patient.dob|date:"F j, Y" }}</p>
        <p><strong>Gender:</strong> {{ patient.gender }}</p>
        <p><strong>Admission Date:</strong> {{ patient.admission_date|date:"F j, Y" }}</p>
        <p><strong>Checkout Date:</strong> {{ patient.checkout_date|default:"Not checked out yet" }}</p>
        <button><a href="{% url 'staff_patient_edit' patient.id %}">Edit</a></button>
        <button onclick="confirmDelete({{ patient.id }})">DELETE</button>
    </div>

    <script>
        function confirmDelete(patientId) {
            if (!patientId) {
                alert("Invalid patient ID.");
                return;
            }
        
            if (confirm("Are you sure you want to delete this patient?")) {
                window.location.href = "{% url 'staff_patient_delete' patient_id=patient.id %}";
            }
        }
    </script>
</body>
</html>







