{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <link href="{% static 'css/patient/patientlist.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/patient/img/logo.png' %}" alt="WeCare Logo" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff_home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff_patient_list' %}">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff_doctor_list' %}">Doctors</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{% url 'staff_patient_list' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Patient Name" aria-label="Search" name="patient_name">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button class="btn btn-success ml-2">
                    <a href="{% url 'staff_patient_create' %}" class="text-white">Create</a>
                </button>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="mb-4">All Patients</h1>
        <ul class="list-group">
            {% for patient in patient %}
                <li class="list-group-item">
                    <a href="{% url 'staff_patient_details' patient.pk %}">{{ patient.firstname }} {{ patient.lastname }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>