{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/staff/prescription.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Prescription</h1>
        <div class="text-right mb-3">
            <a href="{% url 'staff_prescription_create' %}" class="btn btn-primary">Create Prescription</a>
        </div>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Prescription ID</th>
                        <th>Medication</th>
                        <th>Dosage</th>
                        <th>Frequency</th>
                        <th>Duration</th>
                        <th>Instructions</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                        <th>Date Last Modified</th>
                        {% comment %} <th>Doctor</th> 
                        <th>Patient</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for prescription in prescriptions %}
                        <tr>
                            <td>{{ prescription.prescription_id }}</td>
                            <td>{{ prescription.medication }}</td>
                            <td>{{ prescription.dosage }}</td>
                            <td>{{ prescription.frequency }}</td>
                            <td>{{ prescription.duration }}</td>
                            <td>{{ prescription.instructions }}</td>
                            <td>{{ prescription.created_by }}</td>
                            <td>{{ prescription.date_created }}</td>
                            <td>{{ prescription.date_last_modified }}</td>
                            {% comment %}
                            <td>{{ prescription.doctor.name }}</td>
                            <td>{{ prescription.patient.name }}</td>
                            <td>
                                <a href="{% url 'delete_prescription' prescription.prescription_id %}">Delete</a>
                            </td>
                            <td>
                                <a href="{% url 'send_email' prescription.prescription_id %}">Send To Email</a>
                            </td>
                            {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
