{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/staff/login.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Login Page</h1>
    <form action="{% url 'staff_login' %}" method="post">
        {% csrf_token %}
        <input type="email" placeholder="Email Address" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button>Login</button>
    </form>
    <button onclick="location.href='{% url 'home' %}'">Back to Home</button>
</body>
</html>